body {
    font-family: AppleGothic, sans-serif;
}

.nav {
    text-align: right;
}

.nav a {
    margin: 0 1em;
}

h1 {
    text-align: center;
    margin-top: 2em;
}

.main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.user-main {
    font-size: 1.5em;
    margin-top: 3em;
}

p span {
    color: orange;
}